
<div class="row">
  <div class="col-md-4">
    <h2>Tweet the top of r/funny</h2>
    <h4><%= @reddit.r_funny["data"]["children"][0]["data"]["title"] %></h4>
    <h4><%= image_tag(@reddit.r_funny["data"]["children"][0]["data"]["url"], width: "300") %></h4>
    <%= form_tag root_path do %>
    <%= hidden_field_tag :new_tweet, @funny + " " + @url_f %>
    <%= submit_tag "Tweet it!", class: "btn btn-warning btn-lrg" %>
    <% end %>
  </div>
  <div class="col-md-4">
    <h2>Tweet the top of r/programming</h2>
    <h4><%= @reddit.r_programming["data"]["children"][0]["data"]["title"] %></h4>
    <h4><%= @reddit.r_programming["data"]["children"][0]["data"]["url"] %></h4>
    <%= form_tag root_path do %>
    <%= hidden_field_tag :new_tweet, @programming + " " + @url_p %>
    <%= submit_tag "Tweet it!", class: "btn btn-warning btn-lrg" %>
    <% end %>
  </div>
  <div class="col-md-4">
    <h2>Tweet the top of r/kittens</h2>
    <h4><%= @reddit.r_kittens["data"]["children"][0]["data"]["title"] %></h4>
    <h4><%= image_tag(@reddit.r_kittens["data"]["children"][0]["data"]["url"], width: "300") %></h4>
    <%= form_tag root_path do %>
    <%= hidden_field_tag :new_tweet, @kittens + " " + @url_k %>
    <%= submit_tag "Tweet it!", class: "btn btn-warning btn-lrg" %>
    <% end %>
  </div>
</div>
