<!DOCTYPE html>
<html>
<head>
  <title>ApiMashup</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Twiddit</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "/r/funny", "http://www.reddit.com/r/funny", :target => "_blank" %></li>
        <li><%= link_to "/r/programming", "http://www.reddit.com/r/programming", :target => "_blank" %></li>
        <li><%= link_to "/r/kittens", "http://www.reddit.com/r/kittens", :target => "_blank" %></li>
      </ul>
    </div>
  </div>
</nav>
<body>

<div class="container">
<%= yield %>
</div>
</body>
</html>
